fastapi==0.128.5
uvicorn==0.40.0
pydantic==2.12.5
pydantic-core==2.41.5
python-multipart==0.0.22
email-validator==2.3.0
cryptography==46.0.4
starlette==0.52.1
anyio==4.12.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
